<div class="bg-primary p-5">
  <h2>header</h2>
  <a class="test" href="/">home page</a>
  <% if (userNameLogin) { %>
  <a class="test" href="/user/logout">logout</a>
  <% } else {%>
  <a class="test" href="/user/register">register</a>
  <a class="test" href="/user/login">login</a>
  <% } %>
</div>
