body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
.test {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 4px;
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}