<h2>index main page</h2>
<div class="container">
    <% if (flashMessage != undefined) { %>
        <p><%= flashMessage.content %> </p>
    <% } %>
    <% if (userNameLogin != undefined) { %>
        <p><%= userNameLogin %> </p>
    <% } %>
</div>