<!DOCTYPE html>
<html lang="tr" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/style.css" />
    <link rel="stylesheet" href="../public/bootstrap-4/css/bootstrap.min.css" />
    <script src="../public/jquery/jquery-3.5.1.min.js"></script>
    <script src="../public/bootstrap-4/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/fbdd35d74e.js" crossorigin="anonymous"></script>
    <title>Node Js Master</title>
  </head>
  <body class="theme-dark">
    <div>
      <%-include('./partials/header')%>
      <div class="container-fluid">
        <div class="row">
          <%-body%>
        </div>
      </div>
      <%- include('./partials/footer') %> 
    </div>
    <script src="../public/js/app.js"></script>
  </body>
</html>

