<h2>login page</h2>

<div class="container">
    <% if (flashMessage != undefined) { %>
        <p><%= flashMessage.content %> </p>
    <% } %>
  <form class="register-form" action="/user/login" method="POST">
    <label for="">email</label>
    <input type="email" name="email" placeholder="email" />
    <label for="">password</label>
    <input type="password" name="password" placeholder="password" />
    <button type="submit">login</button>
  </form>
</div>