<h2>register page</h2>

<div class="container">
    <% if (flashMessage != undefined) { %>
        <p><%= flashMessage.content %> </p>
    <% } %>
  <form class="register-form" action="/user/register" method="POST">
    <label for="">nick</label>
    <input type="text" name="nick" placeholder="nick" />
    <label for="">email</label>
    <input type="email" name="email" placeholder="email" />
    <label for="">password</label>
    <input type="password" name="password" placeholder="password" />
    <label for="">password again</label>
    <input type="password" name="passwordtwo" placeholder="password again" />
    <button type="submit">register</button>
  </form>
</div>
